@using BussinessLogic.Entidades
@model IEnumerable<Pedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Pedidos</h1>

<div class="form-group">
    <button type="submit" value="CREAR NUEVO" class="btn btn-primary" asp-action="Create">CREAR NUEVO</button>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Tipo
            </th>
            <th>
                Fecha creación
            </th>
            <th>
                Fecha prometida
            </th>
            <th>
                Monto total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in ViewBag.Pedidos)
            {
                <tr>
                    @if (item.EsPedidoExpress)
                    {
                        <td>Express</td>
                    }
                    @if (!item.EsPedidoExpress)
                    {
                        <td>Común</td>
                    }

                    <td>
                        @item.Fecha
                    </td>
                    <td>
                        @item.FechaPrometida
                    </td>
                    <td>
                        @item.MontoTotal
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
