@using AppLogic.DTOs
@model IEnumerable<PedidoDTO>

@{
    ViewData["Title"] = "Index";
}

@if (@ViewBag.error != null)
{
    <script>alertify.error('@ViewBag.error')</script>
}

@if (@ViewBag.Mensaje != null)
{
    <script>alertify.success('@ViewBag.Mensaje')</script>
}


<h1>Pedidos</h1>

<div style="display: flex">
    <div class="form-group">
        <a asp-action="Create" value="CREAR NUEVO" class="btn btn-primary">CREAR NUEVO</a>
    </div>
    <div style="margin-left: 30px">
        <form style="display:flex; flex-direction:column; " method="post" action="../Pedido/FiltroPorFecha">
            <label for="date">Búsqueda por fecha</label>
            <input type="date" name="date" id="date" />
            <input type="submit" value="Buscar"/>
        </form>
       
    </div>
    <div style="margin-left: 30px">
        <form style="display:flex; flex-direction:column; " method="post" action="../Pedido/Anular">
            <label for="idPedido">Anular pedido por Id</label>
            <input type="number" name="idPedido" id="idPedido" />
            <input type="submit" value="Anular" />
        </form>

    </div>
    </div>
@if (ViewBag.FechaElegida != null)
{
    <p>Mostrando resultados para la fecha: <span>@ViewBag.FechaElegida</span></p>
    
}
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Cliente
            </th>
            <th>
              Fecha creación
            </th>
            <th>
              Fecha prometida
            </th>
            <th>
               Monto
            </th>
            <th>
             Pedido
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.RazonSocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaPrometida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MontoTotal)
                </td>
                    @if (item.EsPedidoExpress)
                    {
                        <td>Pedido Express </td>
                    }
                    else
                    {
                        <td>Pedido Común</td>
                    }
               @if(item.PedidoAnulado)
                {
                    <td style="color:red">ANULADO</td>
                }
            </tr>
        }
    </tbody>
</table>










